# Lending Club Case Study
## -- *By Abhishek Mukherjee and Abhishek Shukla*

### Problem Statement:
We are given a dataset about a consumer finance company which specialises in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Two types of risks are associated with the bank’s decision:

1. If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company

2. If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company

The data given below contains information about past loan applicants and whether they ‘defaulted’ or not. The aim is to identify patterns which indicate if a person is likely to default, which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc. In this case study, we will use EDA to understand how consumer attributes and loan attributes influence the tendency of default.

In [111]:
# Load the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [112]:
# Load the loan dataset for EDA. The loan file is in same directory as the ipynb notebook

loan_df = pd.read_csv("loan.csv")
pd.set_option("display.max_columns",300)
pd.set_option("display.max_rows",500)

In [113]:
# Check if data is correctly loaded or any errors
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [114]:
# Get dataset information (info), shape, and data types

# Dataset info with verbose option to display all columns
loan_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   member_id                       int64
 2   loan_amnt                       int64
 3   funded_amnt                     int64
 4   funded_amnt_inv                 float64
 5   term                            object
 6   int_rate                        object
 7   installment                     float64
 8   grade                           object
 9   sub_grade                       object
 10  emp_title                       object
 11  emp_length                      object
 12  home_ownership                  object
 13  annual_inc                      float64
 14  verification_status             object
 15  issue_d                         object
 16  loan_status                     object
 17  pymnt_plan                      object
 18  url                             object
 19  desc                            object
 20  purpose                         object
 21  title                           object
 22  zip_code                        object
 23  addr_state                      object
 24  dti                             float64
 25  delinq_2yrs                     int64
 26  earliest_cr_line                object
 27  inq_last_6mths                  int64
 28  mths_since_last_delinq          float64
 29  mths_since_last_record          float64
 30  open_acc                        int64
 31  pub_rec                         int64
 32  revol_bal                       int64
 33  revol_util                      object
 34  total_acc                       int64
 35  initial_list_status             object
 36  out_prncp                       float64
 37  out_prncp_inv                   float64
 38  total_pymnt                     float64
 39  total_pymnt_inv                 float64
 40  total_rec_prncp                 float64
 41  total_rec_int                   float64
 42  total_rec_late_fee              float64
 43  recoveries                      float64
 44  collection_recovery_fee         float64
 45  last_pymnt_d                    object
 46  last_pymnt_amnt                 float64
 47  next_pymnt_d                    object
 48  last_credit_pull_d              object
 49  collections_12_mths_ex_med      float64
 50  mths_since_last_major_derog     float64
 51  policy_code                     int64
 52  application_type                object
 53  annual_inc_joint                float64
 54  dti_joint                       float64
 55  verification_status_joint       float64
 56  acc_now_delinq                  int64
 57  tot_coll_amt                    float64
 58  tot_cur_bal                     float64
 59  open_acc_6m                     float64
 60  open_il_6m                      float64
 61  open_il_12m                     float64
 62  open_il_24m                     float64
 63  mths_since_rcnt_il              float64
 64  total_bal_il                    float64
 65  il_util                         float64
 66  open_rv_12m                     float64
 67  open_rv_24m                     float64
 68  max_bal_bc                      float64
 69  all_util                        float64
 70  total_rev_hi_lim                float64
 71  inq_fi                          float64
 72  total_cu_tl                     float64
 73  inq_last_12m                    float64
 74  acc_open_past_24mths            float64
 75  avg_cur_bal                     float64
 76  bc_open_to_buy                  float64
 77  bc_util                         float64
 78  chargeoff_within_12_mths        float64
 79  delinq_amnt                     int64
 80  mo_sin_old_il_acct              float64
 81  mo_sin_old_rev_tl_op            float64
 82  mo_sin_rcnt_rev_tl_op           float64
 83  mo_sin_rcnt_tl                  float64
 84  mort_acc                        float64
 85  mths_since_recent_bc            float64
 86  mths_since_recent_bc_dlq        float64
 87  mths_since_recent_inq           float64
 88  mths_since_recent_revol_delinq  float64
 89  num_accts_ever_120_pd           float64
 90  num_actv_bc_tl                  float64
 91  num_actv_rev_tl                 float64
 92  num_bc_sats                     float64
 93  num_bc_tl                       float64
 94  num_il_tl                       float64
 95  num_op_rev_tl                   float64
 96  num_rev_accts                   float64
 97  num_rev_tl_bal_gt_0             float64
 98  num_sats                        float64
 99  num_tl_120dpd_2m                float64
 100 num_tl_30dpd                    float64
 101 num_tl_90g_dpd_24m              float64
 102 num_tl_op_past_12m              float64
 103 pct_tl_nvr_dlq                  float64
 104 percent_bc_gt_75                float64
 105 pub_rec_bankruptcies            float64
 106 tax_liens                       float64
 107 tot_hi_cred_lim                 float64
 108 total_bal_ex_mort               float64
 109 total_bc_limit                  float64
 110 total_il_high_credit_limit      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [115]:
dataset_shape = loan_df.shape  #rows and columns
data_types = loan_df.dtypes #data types - dtypes
print("\nDataset Shape:", dataset_shape)

Dataset Shape: (39717, 111)

In [116]:
print("\nData Types:")
print(data_types)

Data Types:
id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                         int64
earliest_cr_line                   object
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                            int64
pub_rec                             int64
revol_bal                           int64
revol_util                         object
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                         int64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                      int64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                         int64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

In [117]:
# Check null values and percentages

null_values = loan_df.isnull().sum()
print ("Null Values in each column:")
null_values

Null Values in each column:

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12940
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [118]:
# Compute null/NaN percentages
null_perc = round(loan_df.isnull().mean()*100, 2)
print ("Null Percentages in each column:")
null_perc

Null Percentages in each column:

id                                  0.00
member_id                           0.00
loan_amnt                           0.00
funded_amnt                         0.00
funded_amnt_inv                     0.00
term                                0.00
int_rate                            0.00
installment                         0.00
grade                               0.00
sub_grade                           0.00
emp_title                           6.19
emp_length                          2.71
home_ownership                      0.00
annual_inc                          0.00
verification_status                 0.00
issue_d                             0.00
loan_status                         0.00
pymnt_plan                          0.00
url                                 0.00
desc                               32.58
purpose                             0.00
title                               0.03
zip_code                            0.00
addr_state                          0.00
dti                                 0.00
delinq_2yrs                         0.00
earliest_cr_line                    0.00
inq_last_6mths                      0.00
mths_since_last_delinq             64.66
mths_since_last_record             92.99
open_acc                            0.00
pub_rec                             0.00
revol_bal                           0.00
revol_util                          0.13
total_acc                           0.00
initial_list_status                 0.00
out_prncp                           0.00
out_prncp_inv                       0.00
total_pymnt                         0.00
total_pymnt_inv                     0.00
total_rec_prncp                     0.00
total_rec_int                       0.00
total_rec_late_fee                  0.00
recoveries                          0.00
collection_recovery_fee             0.00
last_pymnt_d                        0.18
last_pymnt_amnt                     0.00
next_pymnt_d                       97.13
last_credit_pull_d                  0.01
collections_12_mths_ex_med          0.14
mths_since_last_major_derog       100.00
policy_code                         0.00
application_type                    0.00
annual_inc_joint                  100.00
dti_joint                         100.00
verification_status_joint         100.00
acc_now_delinq                      0.00
tot_coll_amt                      100.00
tot_cur_bal                       100.00
open_acc_6m                       100.00
open_il_6m                        100.00
open_il_12m                       100.00
open_il_24m                       100.00
mths_since_rcnt_il                100.00
total_bal_il                      100.00
il_util                           100.00
open_rv_12m                       100.00
open_rv_24m                       100.00
max_bal_bc                        100.00
all_util                          100.00
total_rev_hi_lim                  100.00
inq_fi                            100.00
total_cu_tl                       100.00
inq_last_12m                      100.00
acc_open_past_24mths              100.00
avg_cur_bal                       100.00
bc_open_to_buy                    100.00
bc_util                           100.00
chargeoff_within_12_mths            0.14
delinq_amnt                         0.00
mo_sin_old_il_acct                100.00
mo_sin_old_rev_tl_op              100.00
mo_sin_rcnt_rev_tl_op             100.00
mo_sin_rcnt_tl                    100.00
mort_acc                          100.00
mths_since_recent_bc              100.00
mths_since_recent_bc_dlq          100.00
mths_since_recent_inq             100.00
mths_since_recent_revol_delinq    100.00
num_accts_ever_120_pd             100.00
num_actv_bc_tl                    100.00
num_actv_rev_tl                   100.00
num_bc_sats                       100.00
num_bc_tl                         100.00
num_il_tl                         100.00
num_op_rev_tl                     100.00
num_rev_accts                     100.00
num_rev_tl_bal_gt_0               100.00
num_sats                          100.00
num_tl_120dpd_2m                  100.00
num_tl_30dpd                      100.00
num_tl_90g_dpd_24m                100.00
num_tl_op_past_12m                100.00
pct_tl_nvr_dlq                    100.00
percent_bc_gt_75                  100.00
pub_rec_bankruptcies                1.75
tax_liens                           0.10
tot_hi_cred_lim                   100.00
total_bal_ex_mort                 100.00
total_bc_limit                    100.00
total_il_high_credit_limit        100.00
dtype: float64

In [119]:
loan_df_clean = loan_df.loc[:,loan_df.isnull().mean()*100 < 30]

In [120]:
# Find out the missing values after dropping columns with mostly missing data
missing_value_perc = round(loan_df_clean.isnull().mean()*100,2)
missing_value_perc[missing_value_perc > 0]

emp_title                     6.19
emp_length                    2.71
title                         0.03
revol_util                    0.13
last_pymnt_d                  0.18
last_credit_pull_d            0.01
collections_12_mths_ex_med    0.14
chargeoff_within_12_mths      0.14
pub_rec_bankruptcies          1.75
tax_liens                     0.10
dtype: float64

In [121]:
loan_df_clean.shape

(39717, 53)

In [122]:
# Lets also check missing values from rows which has more than 5 missing values
loan_df_clean[loan_df_clean.isnull().sum(axis=1) > 5]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, pub_rec_bankruptcies, tax_liens]
Index: []

Looks like there are no rows which has more than 5 columns with missing values

In [123]:
# Lets also check missing values from rows which has more than 4 missing values but less than 5
loan_df_clean[(loan_df_clean.isnull().sum(axis=1) > 4) & (loan_df_clean.isnull().sum(axis=1) <=5)]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
39659,121568,121574,4000,4000,1925.0,36 months,9.64%,128.41,B,B4,NaN,< 1 year,NONE,100000.0,Not Verified,Aug-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Refinancing high interest loan,950xx,CA,15.00,0,May-99,1,6,0,8155,14.90%,8,f,0.0,0.0,4622.489229,2224.58,4000.0,622.49,0.0,0.0,0.0,Sep-10,129.76,Aug-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39660,121535,121373,2800,2800,1625.0,36 months,8.70%,88.65,B,B1,NaN,< 1 year,NONE,120000.0,Not Verified,Aug-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Baby is coming,024xx,MA,15.00,0,May-99,1,6,0,8155,14.90%,8,f,0.0,0.0,3191.218575,1852.05,2800.0,391.22,0.0,0.0,0.0,Sep-10,89.80,Aug-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39700,98276,98268,5400,5400,200.0,36 months,7.75%,168.60,A,A3,NaN,< 1 year,RENT,8000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,educational,Help with college expenses,306xx,GA,3.00,0,Mar-89,0,4,0,1321,16.50%,4,f,0.0,0.0,6069.341452,224.80,5400.0,669.34,0.0,0.0,0.0,Jul-10,169.09,Dec-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39704,93277,93254,3000,3000,950.0,36 months,8.70%,94.98,B,B1,NaN,< 1 year,MORTGAGE,25000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Home Based Bakery,017xx,MA,14.54,0,Sep-00,1,10,0,3660,7.80%,13,f,0.0,0.0,3419.144850,1082.73,3000.0,419.14,0.0,0.0,0.0,Jul-10,97.45,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39706,92676,92671,5000,5000,150.0,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,180000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,remodelin my kitchen,530xx,WI,5.55,0,Jun-96,0,12,0,40934,26.30%,39,f,0.0,0.0,5645.957239,169.38,5000.0,645.96,0.0,0.0,0.0,Jul-10,157.31,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,100000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,MBA Loan Consolidation,017xx,MA,2.30,0,Oct-98,0,11,0,9698,19.40%,20,f,0.0,0.0,5272.161128,1397.12,5000.0,272.16,0.0,0.0,0.0,Apr-08,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,NaN,< 1 year,MORTGAGE,200000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,JAL Loan,208xx,MD,3.72,0,Nov-88,0,17,0,85607,0.70%,26,f,0.0,0.0,5174.198551,672.66,5000.0,174.20,0.0,0.0,0.0,Jan-08,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

We will retain these rows as the missing values are in columns which don't seem very significant at this point for analysis.

In [124]:
# Lets check the 'emp_title' and 'emp_length' columns
loan_df_clean['emp_title'].value_counts()

US Army                     134
Bank of America             109
IBM                          66
AT&T                         59
Kaiser Permanente            56
                           ...
Tile Interiors                1
CITY OF HIALEAH               1
TPG Capital                   1
orgill inc.                   1
Elizabeth Public Library      1
Name: emp_title, Length: 28820, dtype: int64

The values seem to represent the organization or givernment department the employee works and are not a finite set of values from where the most frequently occuring one can be used for missing value imputation. The most frequently occuring value seem to be 'US Army' which will be assigned if we impute the missing values which doesn't seem reasonable. This column don't seem reasonable for analysis to answer the question of default indicator and for future default prediction purposes.

In [134]:
loan_df_clean = loan_df_clean.drop(columns=['emp_title'])

In [125]:
# Lets check the 'emp_length' column
loan_df_clean['emp_length'].value_counts()

10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

In [126]:
loan_df_clean['emp_length'].agg('mode')[0]

'10+ years'

We will impute the missing values with mode of the column data

In [127]:
loan_df_clean['title'].value_counts()

Debt Consolidation                        2184
Debt Consolidation Loan                   1729
Personal Loan                              659
Consolidation                              517
debt consolidation                         505
                                          ...
Bobs                                         1
Home Household Items                         1
Looking to finance a reliable used car       1
DIY Home Improvement                         1
Home Improvement - New Windows               1
Name: title, Length: 19615, dtype: int64

The 'title' column will need significant cleaning as we can clearly see that its a free text entry of loan title. There is no point in imputing missing values or using this column for analysis

In [128]:
# Lets check the 'term' column
loan_df_clean['term'].value_counts()

 36 months    29096
 60 months    10621
Name: term, dtype: int64

We need to change it to a numerical column type

In [129]:
# Remove the months text
loan_df_clean['term'] = loan_df_clean['term'].apply(lambda x: int(x[:3]))

In [131]:
loan_df_clean['term'].value_counts()

36    29096
60    10621
Name: term, dtype: int64

In [130]:
# Lets check the 'int_rate' column type
loan_df_clean['int_rate'].value_counts()

10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
7.49%     656
11.71%    607
9.99%     603
7.90%     582
5.42%     573
11.99%    532
12.69%    491
10.37%    468
6.03%     447
12.99%    446
8.49%     445
12.42%    442
10.65%    435
5.79%     410
8.90%     402
7.29%     397
6.62%     396
11.86%    391
14.27%    390
10.59%    380
9.63%     378
9.91%     377
5.99%     347
7.14%     341
6.99%     336
11.11%    331
16.77%    327
12.53%    327
10.74%    312
6.54%     305
6.91%     303
8.94%     294
7.66%     292
13.61%    291
15.99%    286
13.98%    284
13.23%    263
11.12%    259
13.99%    257
6.17%     252
12.68%    251
10.00%    251
10.36%    250
10.75%    250
11.36%    247
16.49%    241
11.83%    233
18.25%    230
10.62%    228
14.65%    222
13.06%    220
10.38%    219
10.25%    218
15.23%    215
14.96%    214
16.89%    209
15.65%    208
11.14%    206
6.92%     204
12.18%    203
17.27%    203
15.27%    200
15.95%    199
16.32%    198
14.79%    192
8.00%     191
17.49%    190
15.21%    187
12.73%    187
9.62%     186
15.58%    185
9.32%     184
15.96%    183
11.48%    183
17.58%    183
12.61%    181
8.59%     181
9.88%     181
13.11%    177
12.87%    176
14.91%    172
15.62%    171
12.21%    169
6.76%     168
16.45%    162
8.88%     160
11.89%    154
18.39%    154
7.74%     153
13.48%    152
16.02%    149
17.99%    148
15.28%    147
13.43%    145
16.29%    142
18.64%    142
13.22%    142
16.40%    140
9.25%     139
13.57%    135
12.23%    134
12.84%    133
16.82%    132
13.16%    131
13.80%    131
13.85%    130
13.35%    127
14.26%    125
13.47%    124
19.03%    124
14.17%    122
13.92%    121
14.35%    120
14.84%    120
19.29%    119
14.22%    118
13.72%    116
19.42%    116
12.98%    116
14.59%    113
14.72%    112
13.79%    111
17.19%    110
17.14%    107
14.46%    107
18.79%    106
17.56%    106
19.69%    105
15.33%    102
11.58%     99
16.00%     95
14.61%     92
11.26%     91
14.11%     91
15.31%     91
19.91%     90
14.83%     89
20.30%     89
7.68%      89
14.42%     84
15.70%     80
15.57%     79
17.93%     79
10.95%     78
20.25%     77
14.54%     75
7.40%      72
20.89%     72
14.09%     68
15.20%     67
17.88%     66
9.76%      65
14.74%     65
17.51%     65
15.05%     59
18.30%     58
6.39%      58
16.07%     57
20.62%     57
20.99%     52
11.03%     50
16.69%     50
10.39%     49
18.62%     49
10.08%     48
21.36%     45
16.35%     44
8.32%      44
15.37%     43
10.71%     43
21.28%     43
18.67%     42
21.67%     42
11.34%     41
11.66%     38
15.68%     38
8.63%      38
11.97%     37
9.45%      37
22.06%     37
12.29%     36
17.06%     34
16.70%     34
19.04%     32
21.74%     31
7.37%      31
17.43%     31
19.36%     31
22.11%     31
10.83%     30
19.74%     30
18.99%     30
13.24%     29
12.92%     26
7.43%      26
17.04%     26
11.78%     26
18.17%     26
20.11%     25
19.41%     25
22.35%     25
11.46%     25
7.05%      23
7.75%      23
8.07%      23
10.51%     22
20.48%     22
9.38%      21
10.28%     21
22.74%     20
12.41%     20
18.54%     20
9.96%      19
17.80%     19
6.00%      18
12.09%     18
9.64%      18
8.38%      18
17.74%     18
11.28%     18
10.20%     18
13.55%     18
10.91%     17
13.04%     17
13.67%     17
12.72%     16
22.48%     16
16.95%     16
10.78%     16
20.85%     15
17.39%     15
9.07%      15
11.22%     15
10.96%     14
7.91%      14
9.33%      14
13.87%     14
20.03%     13
16.63%     13
21.27%     13
12.22%     13
18.43%     13
20.53%     12
9.01%      12
19.79%     12
20.16%     12
8.70%      12
11.54%     12
20.90%     11
19.13%     11
23.91%     11
11.91%     11
9.20%      11
17.26%     11
20.77%     10
12.17%     10
10.14%     10
12.49%      9
23.52%      9
23.22%      9
11.72%      9
19.66%      9
9.51%       9
14.18%      9
10.33%      9
18.07%      9
23.13%      9
11.59%      9
18.09%      9
12.86%      8
12.36%      8
12.80%      8
18.91%      8
22.85%      8
13.30%      8
9.70%       8
14.50%      8
13.36%      8
9.83%       8
21.59%      8
11.63%      8
19.47%      7
7.42%       7
9.67%       7
12.04%      7
14.82%      7
16.11%      7
14.93%      7
7.12%       7
11.41%      7
10.01%      7
10.46%      7
21.22%      7
13.17%      6
19.82%      5
16.59%      5
12.54%      5
11.09%      5
14.38%      5
12.67%      5
14.30%      5
18.21%      5
12.12%      5
13.75%      5
19.39%      4
15.88%      4
15.25%      4
18.78%      4
15.13%      4
23.59%      4
21.14%      4
21.21%      4
18.53%      4
12.62%      3
20.86%      3
18.49%      3
14.75%      3
21.64%      3
24.11%      3
18.84%      3
14.12%      3
15.45%      3
20.40%      3
13.62%      3
13.93%      3
13.12%      3
15.76%      3
20.17%      3
19.16%      3
20.69%      3
16.08%      3
14.62%      2
14.07%      2
13.84%      2
15.38%      2
17.15%      2
14.70%      2
15.07%      2
22.94%      2
14.88%      2
21.82%      2
10.64%      2
20.20%      2
17.90%      2
17.03%      2
16.33%      2
15.01%      2
14.25%      2
15.83%      2
14.67%      1
16.15%      1
17.44%      1
16.71%      1
17.34%      1
21.48%      1
24.59%      1
17.54%      1
16.20%      1
18.72%      1
16.01%      1
16.96%      1
17.46%      1
18.36%      1
24.40%      1
20.52%      1
22.64%      1
Name: int_rate, dtype: int64

We need to remove the '%' from the end of the percent value

In [132]:
loan_df_clean['int_rate'] = loan_df_clean['int_rate'].apply(lambda x: float(x[0:-1]) if x[-1] == '%' else float(x))

In [133]:
loan_df_clean['int_rate'].value_counts()

10.99    956
13.49    826
11.49    825
7.51     787
7.88     725
7.49     656
11.71    607
9.99     603
7.90     582
5.42     573
11.99    532
12.69    491
10.37    468
6.03     447
12.99    446
8.49     445
12.42    442
10.65    435
5.79     410
8.90     402
7.29     397
6.62     396
11.86    391
14.27    390
10.59    380
9.63     378
9.91     377
5.99     347
7.14     341
6.99     336
11.11    331
12.53    327
16.77    327
10.74    312
6.54     305
6.91     303
8.94     294
7.66     292
13.61    291
15.99    286
13.98    284
13.23    263
11.12    259
13.99    257
6.17     252
12.68    251
10.00    251
10.36    250
10.75    250
11.36    247
16.49    241
11.83    233
18.25    230
10.62    228
14.65    222
13.06    220
10.38    219
10.25    218
15.23    215
14.96    214
16.89    209
15.65    208
11.14    206
6.92     204
17.27    203
12.18    203
15.27    200
15.95    199
16.32    198
14.79    192
8.00     191
17.49    190
15.21    187
12.73    187
9.62     186
15.58    185
9.32     184
15.96    183
17.58    183
11.48    183
9.88     181
12.61    181
8.59     181
13.11    177
12.87    176
14.91    172
15.62    171
12.21    169
6.76     168
16.45    162
8.88     160
18.39    154
11.89    154
7.74     153
13.48    152
16.02    149
17.99    148
15.28    147
13.43    145
18.64    142
16.29    142
13.22    142
16.40    140
9.25     139
13.57    135
12.23    134
12.84    133
16.82    132
13.16    131
13.80    131
13.85    130
13.35    127
14.26    125
13.47    124
19.03    124
14.17    122
13.92    121
14.84    120
14.35    120
19.29    119
14.22    118
19.42    116
12.98    116
13.72    116
14.59    113
14.72    112
13.79    111
17.19    110
17.14    107
14.46    107
18.79    106
17.56    106
19.69    105
15.33    102
11.58     99
16.00     95
14.61     92
11.26     91
15.31     91
14.11     91
19.91     90
20.30     89
14.83     89
7.68      89
14.42     84
15.70     80
15.57     79
17.93     79
10.95     78
20.25     77
14.54     75
20.89     72
7.40      72
14.09     68
15.20     67
17.88     66
17.51     65
14.74     65
9.76      65
15.05     59
18.30     58
6.39      58
16.07     57
20.62     57
20.99     52
11.03     50
16.69     50
18.62     49
10.39     49
10.08     48
21.36     45
16.35     44
8.32      44
21.28     43
15.37     43
10.71     43
18.67     42
21.67     42
11.34     41
8.63      38
11.66     38
15.68     38
11.97     37
22.06     37
9.45      37
12.29     36
17.06     34
16.70     34
19.04     32
19.36     31
22.11     31
7.37      31
17.43     31
21.74     31
10.83     30
18.99     30
19.74     30
13.24     29
12.92     26
17.04     26
18.17     26
11.78     26
7.43      26
20.11     25
19.41     25
11.46     25
22.35     25
8.07      23
7.75      23
7.05      23
10.51     22
20.48     22
9.38      21
10.28     21
18.54     20
12.41     20
22.74     20
17.80     19
9.96      19
10.20     18
9.64      18
8.38      18
17.74     18
12.09     18
6.00      18
11.28     18
13.55     18
10.91     17
13.67     17
13.04     17
10.78     16
12.72     16
16.95     16
22.48     16
11.22     15
17.39     15
20.85     15
9.07      15
9.33      14
7.91      14
13.87     14
10.96     14
20.03     13
21.27     13
16.63     13
12.22     13
18.43     13
11.54     12
20.16     12
8.70      12
20.53     12
19.79     12
9.01      12
9.20      11
23.91     11
11.91     11
17.26     11
19.13     11
20.90     11
12.17     10
20.77     10
10.14     10
18.07      9
11.72      9
23.13      9
11.59      9
12.49      9
19.66      9
23.52      9
18.09      9
23.22      9
9.51       9
10.33      9
14.18      9
12.86      8
13.36      8
12.36      8
13.30      8
9.83       8
12.80      8
22.85      8
9.70       8
18.91      8
14.50      8
11.63      8
21.59      8
7.42       7
12.04      7
10.01      7
14.82      7
19.47      7
9.67       7
10.46      7
16.11      7
21.22      7
7.12       7
14.93      7
11.41      7
13.17      6
14.38      5
12.54      5
18.21      5
12.12      5
11.09      5
13.75      5
14.30      5
16.59      5
19.82      5
12.67      5
21.21      4
18.53      4
21.14      4
23.59      4
19.39      4
15.25      4
18.78      4
15.88      4
15.13      4
20.69      3
15.45      3
20.86      3
24.11      3
21.64      3
16.08      3
18.49      3
13.62      3
18.84      3
14.75      3
20.40      3
13.93      3
12.62      3
14.12      3
15.76      3
20.17      3
19.16      3
13.12      3
17.90      2
14.07      2
10.64      2
15.83      2
21.82      2
17.15      2
22.94      2
17.03      2
14.70      2
16.33      2
13.84      2
14.62      2
14.25      2
15.07      2
15.38      2
20.20      2
15.01      2
14.88      2
18.72      1
16.01      1
22.64      1
21.48      1
17.46      1
18.36      1
16.20      1
16.15      1
16.96      1
16.71      1
24.40      1
14.67      1
17.54      1
17.44      1
20.52      1
24.59      1
17.34      1
Name: int_rate, dtype: int64

Lets now check the date columns which are not in correct format and treat them

In [135]:
loan_df_clean.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36,13.49,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60,12.69,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [144]:
# Lets impute remaining missing values.
# For numerical columns we will impute with median
numerical_columns = loan_df_clean.select_dtypes(include=["float64","int64"]).columns
loan_df_clean[numerical_columns] = (loan_df_clean[numerical_columns]
                                    .apply(lambda column:column.fillna(column.median())))

In [145]:
# For categorical columns we will impute with mode
categorical_columns = loan_df_clean.select_dtypes(include=["object"]).columns
loan_df_clean[categorical_columns] = (loan_df_clean[categorical_columns]
                                      .apply(lambda column:column.fillna(column.mode()[0])))

In [146]:
# Find out the missing values after dropping columns with mostly missing data
missing_value_perc = round(loan_df_clean.isnull().mean()*100,2)
missing_value_perc[missing_value_perc > 0]

Series([], dtype: float64)

In [149]:
loan_df_clean.shape

(39717, 52)

So the missing data has been imputed. Now we have to proceed to find outliers and filter the columns and rows for analysis (Univariate, Bivariate and Multivariate Analysis)